/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  overscroll-behavior-y: contain;
}

#root {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

/* Prevent zoom on mobile input focus */
@media screen and (max-width: 767px) {
  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}